@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
body{ 
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    top: 0;
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}
header.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.headerh2{
    margin-top: 22px;
    font-size: 25px;
    margin-top: 25px;
}
.logoimg{
    height: 80px;
    margin-left: 50px;
    margin-right: 5px;
}
.headerul{
    margin: 0 0 0 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerul li{
    margin: 0 16px;
    font-size: 20px;
}
.headerul a:hover{
    color: lightblue;
}
.headerul a{
    text-decoration: none;
    color: black;;
}
.loginimg{
    width: 30px;
    height: 20px;
}
.loginbutton{
    background-color: white;
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 22px 0 0 35px;
    border: 0px solid;
}
.container button{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.loginlink{
    text-decoration: none; 
}
.signupbutton{
    background-color: white;
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 22px 0 0 0;
    border: 0px solid;
    background-color: teal;
    color: white;
    width: 90px;
    border-radius: 7px;
}
.signuplink{
    text-decoration: none;
}

.loginbutton:hover{
    color: lightblue;
}
.signupbutton:hover{
    color: white;
    background-color: lightblue;
}

.menudiv{
    background: linear-gradient(to top, blue, white);
    height: 600px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.menuh1{
    margin-top: 160px;
    margin-left: 40px;
    color: white;
    text-shadow: 1.2px 1.2px black;
}
.presentationdiv{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: lightblue;
    margin-left: 40px;
    margin-top: 50px;
    transition: width 1s, height 1s, background-color 1.5s, transform 1s;
}
.presentationdiv:hover {
    background-color: lightblue;
    width: 60px;
    height: 60x;
    transform: rotate(360deg);
    border-color: lightblue;
}
.playbutton{
    border: 1px solid;
    width: 25px;
    height: 25px;
    border-width: 12px 0 12px 12px;
    border-radius: 4px;
    border-color: transparent transparent transparent white;
    box-sizing: border-box;
    margin-left: 15px;
}
.menup{
    margin-left: 40px;
    color: white;
    margin-top: 35px;
    font-size: 21px;
    text-shadow: 1px 1px black;
}
.seconddiv{
    width: 650px;
    height: 100%;
}
.menudiv .bgimgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgimgdiv{
    width: 60%;
    height: 99%;
}
.bgimg{
    width: 470px;
    height: 430px;
}
.presentationp{
    color: white;
    font-size: 21px;
    text-shadow: 1px 1px black;
    margin-left: 120px;
    margin-top: -45px;
}
